/*  
Theme Name: white
Theme URI: https://bitbucket.org/qiyi/white/
Description: Simple and white theme.
Version: 1.18
Author: qiyi
Author URI: http://isouth.org/
*/
*{margin:0;padding:0;background:transparent}
body{
        margin:0;
        padding:0;
        font-family: "Microsoft Yahei", Helvetica, "sans-serif", Arial;
        text-align: left;
        vertical-align:top;
        background: #fff;
        color:#373933
}
a,a visited{color:#8AAB46;text-decoration:none;-webkit-transition: all 0.8s ease-in-out;-o-transition: all 0.8s ease-in-out;-moz-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out;}
a:hover{color:#000;text-decoration:none}
img{border:0}

blockquote{margin:15px auto 15px 0;padding-left:60px;   background:#f6f6f6 url(img/quote.gif) no-repeat scroll 2% 2%;min-height:50px;color:#545454;border-left:2px solid #8AAB46}
pre {
        display:block;
        font-family: monospace, Consolas, Helvetica,Tahoma,Arial,sans-serif;
        margin: 0;
        font-size:12px;
        line-height:14px;
        overflow:hidden;
        background-color:#F8F8F8;padding:5px;
        border:1px dashed #CCC
}
code{display:block;background:#f8f8f8;border:1px dashed #ccc;padding:5px 10px;color:#666}
h1{font-size:24px}
h2{font-size:22px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
h1,h2,h3,h4,h5,h6{font-weight:normal}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
.clearfix{display:block;height:1%}
:focus{outline:0}
abbr {border-bottom: 1px dashed #999;cursor:help}
caption{font-weight:bold}
del{text-decoration:line-through}
ins{text-decoration:none}
textarea {overflow:auto}
.hdn{display:none}
.wp-smiley,.wlEmoticon{margin-bottom:-4px}
input, textarea {
        border:1px solid #d2d2d2;
        border-radius:4px;
        font-family: "Microsoft Yahei", Helvetica, "sans-serif", Arial;
}
hr{border:0 #d2d2d2 solid;border-top-width:1px;clear:both;height:0} 
.aligncenter {display: block;margin-left:auto;margin-right:auto}
.alignleft{float:left}
.alignright ,nova-r{float:right}
input::-moz-focus-inner { border:0; padding:0 }

#header {
  border-top: 1px solid #FFF;
  width: 960px;
  height: 48px;
  margin: 8px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#header .logo  a.name{
        font-family:Comic Sans MS;
        color:#333;
        font-size:30px;
        text-shadow: #333 1px 1px 2px
}
#header .name{padding-left:5px}
.description{font-size:12px}
#header #search{width:320px;}
#cse-search-box {
    display: flex;
}
input.gsc-input{
    width: 240px;
    padding: 8px;
    font-size: 100%;
    color: #999;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input.gsc-search-button{
    width:80px; 
    padding: 8px;
    border: 1px solid #2d78f4;
    background-color: #2d78f4;
    font-size:100%;
    color: white;
    border-radius: 0;
    cursor: pointer;
}

/* the wrapper */
#wrapper{
        margin:0 auto 15px auto;
        width:960px;
        background:#FFF;
}
#header #logo ul li{list-style:none;}
/* the entry part */
#entry{
        float:left;
        margin:3px 0 10px 0;
        display:inline;
        overflow:hidden;
}
#entry .post{margin:3px 0 20px 0;}
#entry .post h2.title{
        background:url(img/hr.gif) center repeat-x;
        margin-bottom:3px;
        font-size:20px;
}
#entry .post h2.title .post-title{
        padding-right:2px;
        padding-left:1px;
}
#entry .post h2.title a{
        color:#8946AB;
        background:#FFF;
}
#entry .post h2.title a:hover{
        color:#8AAB46;
        text-decoration:none;
        margin-left:10px;
}
/*the content part*/
#entry .post .content{
        font-size:13px;
        margin-top:8px;
        padding-left:4px;
        line-height:22px
}
#entry .post .content img{
        border:0;
        padding:0px;
        box-shadow: #666 0px 0px 16px;
        -webkit-box-shadow: #666 0px 0px 16px;
        background:url(img/loading.gif) no-repeat center center
}
#entry .post .content img.wp-smiley,#entry .post .content img.wlEmoticon{padding:0;box-shadow: #666 0 0 0;
        -webkit-box-shadow: #666 0 0 0;}
#entry .post .content a:hover{text-decoration:underline;}
#entry .post .content fieldset {border:1px dashed #CCCCCC;}
#entry .post .content fieldset legend{ font-weight:bold;}
#entry .post .content p{margin-bottom:10px;}
#entry .post .content h2,#entry .post .content h3,#entry .post-page h3{
        border-bottom:1px solid #DDD;
        margin-bottom:10px;
}
.content h4{
        color:#FFF; 
        background:#8AAB46;
        margin-bottom:10px;
}
#entry .content h3.related_post_title{margin-top:20px;}
#entry .content ul.related_post li{margin:4px 0;}
#entry h3.page-title{
        color:#FFF;
        background:#379bcd;
        margin-top:8px;
        margin-bottom:10px
}
#entry .post .content ul{margin:auto auto 20px 30px}
#entry .post .content ol{
        list-style:decimal;
        margin:auto auto 20px 30px
}
#entry .post .content ol li,#entry .post .content ul li{padding:2px 0;}
#entry .post .content .blockcode{
        margin:10px 0;
        padding:8px 0 5px 10px;
        border:1px solid #cccccc;
        background:#F7F7F7 url(img/codebg.gif) repeat-y 0 0;
        overflow:hidden
}
#entry .post .content .blockcode ol{margin:0 0 0 33px;padding:0}
#entry .post .content .blockcode ol li{
        padding-left:8px;
        list-style-type:decimal-leading-zero;
        font-family: monospace, Console,Monaco,WenQuanYi Micro Hei Mono,Helvetica,sans-serif;
        font-size:11px;
        line-height:1.8em
}
#entry .post .content .blockcode ol li:hover{
        background:#FFF;
        color:#CB441A
}
#entry .post .content .blockcode em{
        margin-left:43px;
        color:#09C !important;
        font-size:12px;
        cursor:pointer
}
#entry .post .content table{
        border-color:#CCC;
        border-style:solid;
        border-width:0 1px 1px 0
}
#entry .post .content table tr th{
        background:#F4F4F4;
        color:#666;
        font-weight:bold;
        text-align:center
}
#entry .post .content table tr th,#entry .post .content table tr td{
        border-color:#CCC;
        border-style:solid;
        border-width:1px 0 0 1px;
        padding:5px 10px
}
#entry .post .content .more-link{display:block;text-align:right;padding-right:20px}
#entry .post .content .more-link:hover{
        border-top:1px dashed #CCC;
        border-bottom:1px dashed #CCC;
        margin:-1px 0;
}
#entry .post .postmeta{font-size:12px;margin:3px 0 0 0}
#entry .post .postmeta a:hover{text-decoration:none}
#entry .post .post-comment{float:right;margin-top:-21px;font-size:12px}
#entry .post .post-comment .large{font-size:16px}
/* single */
#entry .post h1.title{
        font-size:22px;
        margin-bottom:3px;
        background:url(img/hr.gif) center repeat-x;
}
#entry .post h1.title a{
        color:#8946AB;
        background:#FFF;
}
#entry .post h1.title a:hover{color:#000;}
#entry .copyright{
        line-height:30px; 
        color:#CCC; 
        font-size:12px;
}
#entry .post .fav{
        background:#FBFBFB;
        border:1px solid #ddd;
        margin:15px 0 10px 0;
        font-size:12px;
        width:auto;
        padding:5px 8px;        
}
#entry .post .fav a{color:#000;}
#entry .page_navi{
        font-size:13px;
        margin:25px 0;
}
.comments-nav{text-align:center;font-size:13px;}
comments-nav a,.comments-nav span.current{
        padding:3px 8px;
        margin-left:6px;
        border:1px solid #CCC;
        color:#000;
}

#entry .page_navi a {
  padding:3px 8px;
  margin-left:6px;
  color:#000;
}

#entry .page_navi a.current,#entry .page_navi a:hover,.comments-nav a:hover{
        color:#FFF;
        background:#f25a00;
}
#entry .page_navi a.current{background:#09C;}
.comments-nav span.current{font-weight:bold;background:#09C;color:#FFF;}
/* sidebar */
#sidebar{
        float:right;
        width:230px;
        display:inline;
        overflow:hidden;
        font-size:12px;
}
#sidebar .widget,#sidebar .widget2{margin:5px 0 15px 0;}
#sidebar .widget h4{
        background:url(img/hr.gif) center repeat-x;
        margin:18px 0;
}
#sidebar .widget .sidebar-title{
        line-height:150%;
        font-size:14px;
        padding-right:10px;
        background:#FFF
}
#sidebar .sidebar-more{
        font-size:11px;
        color:#777;
}
#sidebar .sidebar-feature a{
        padding:5px 30px;
        display:block;
        width:180px;
        line-height:14px;
        font-size:13px
}
#sidebar .widget .sidebar-feeds a{
        color:#F36E30;
        background:url(img/rss_feed.png) no-repeat left top;
}
#sidebar .widget .sidebar-twitter a{
        color:#1E61A8;
        background:url(img/twitter.png) no-repeat left top;
}
#sidebar .widget ul{margin:auto auto 15px 0}
#sidebar .widget ul li{
        list-style-type:none;
        height:18px;
        line-height:2em;
        background:url(img/div.gif) left center no-repeat;
        padding:5px 0 7px 20px;
        overflow:hidden
}
#sidebar .spalten ul li{width:40%;float:left}
#sidebar .widget ul li a{color:#666}
#sidebar .widget ul li a:hover{color:#8AAB46}       
/* comment */
#commenta{font-size:12px}
h3#commentb,#respond h3,h3#pingback,h3#trackback{
        padding:5px 0;
        color:#8AAB46;
        font-size:14px;
        border-bottom:1px dashed #ccc
}
#respond h3{margin-top:5px}
#commenta #cancel-comment-reply{float:right}
#cancel-comment-reply a{
        font-size:12px;
        color:#F30
}
#commenta .commentlist{clear:both;list-style:none}
.commentlist li.odd{background:#eefbd4}
.commentlist li{
        margin:15px auto;
        overflow:hidden;
        background:#fcfcfc;
        border-left:1px solid #e2e2e2;
        position: relative
}
.commentlist li:hover{background:#F4F4F4;border-left:1px solid #8AAB46}
.commentlist li .gravatar{position:absolute;left:5px;top:5px}
.commentlist li .gravatar img{border:1px dashed #ccc}
.commentlist li:hover .gravatar img{border:1px dashed #8AAB46}
.commentlist .children{margin-right:10px}
.commentlist .c{min-height:45px}
.commentlist .children li{margin-left:10px}
#commenta ol,#commenta ul{list-style:none}
#commenta .comments{padding:2px 50px}
#commenta .comments .commentmetadata{color:#888}
#commenta .reply-button{position:absolute;right:7px;top:7px}
#commenta .reply a{
        font-size:12px;
        padding:0px 4px;
        background-color:#FCF9F9;
        border:1px solid #DDD
}
.pingback .reply{display:none}
#commenta .reply a:hover{border:1px solid #8AAB46}
.vcard em{
        font-style:normal;
        padding-bottom:10px;
        display:block;
        font-weight:900;
}
.vcard small{
        font:12px/12px Tahoma,Arial,Helvetica,sans-serif;
        color:#999
}
#commentform p{
        margin:5px 0;
        overflow:hidden
}
.commentlist #respond {padding:0 10px;}
#commenta #respond p{padding:0 3px;} 
#commentform{margin-top:10px;}
#commentform input{width:250px;padding:3px}
#commentform input:hover,#commentform textarea:hover{border:1px solid #b0ce74;}
#commentform textarea{
        width:100%;
        height:100px;
        border:1px solid #D2D2D2;
}
#commentform #submit{
        background:url(img/submit.gif) no-repeat;
        border:0;
        color:#91B24F;
        cursor:pointer;
        width:70px;
        height:25px;
        text-indent:-9999px;
        float:right;
        clear:right;
}
#commentform .visitor{
        float:right;
        margin-right:7px;
        border:1px dashed #ccc;
        padding:1px;
}
/* navigation*/
#entry .navigation{
        margin:25px 0;
        font-size:14px;
        border-top:1px solid #ddd;
}
#entry .pre-post a{
        padding:2px 20px 2px 5px;
        background:url(img/pre.gif) right center no-repeat;
}
#entry .next-post a{
        padding:2px 5px 2px 20px;
        background:url(img/next.gif) left center no-repeat;
}
#entry .pre-post a:hover,#entry .next-post a:hover{
        text-decoration:underline;
}
/* footer */
#footer{
        clear:both;
        width:100%;
        padding:9px 0;
        font-size:13px;
}
#footer .yi{
        width:960px;
        margin:0 auto;
}
#footer .footinfo{
}
#footer .gotop{
        margin-top:-19px;
        float:right;
}
#footer a{color:#000;}
#footer a:hover{text-decoration:underline;}
/* pages */
.post-page{
        margin:20px 0;
        font-size:13px;
}
.nova{width:auto;padding:5px 8px;}
#archives-comments .gravatar{margin:5px 0;padding:2px;border:1px solid #DDD;}
.comment-content{border-left:1px solid #DDD;margin-left:50px;padding-left:8px;}
.linkp{
        border: 1px solid #ddd;
        padding:2px;
        font-size:14px;
}
.linkp ul {
        padding:6px 8px;
        list-style:none;
        overflow:hidden;
}
.linkp ul li {
        float:left;
        margin-bottom: 6px;
        padding:0;
}
.linkp ul li ul li {
        float:left;
        width:120px;
        text-align:center;
        margin:5px;
        line-height:180%;
        border:1px solid #ccf;
        padding:0;
}
.linkp ul li ul li a {
        color: #777;
        display: block;
}
.linkp ul li ul li a:hover {
        background:#8AAB46;
        color:#FFF;
        font-weight:bold;
}
.gscresult{
        margin:15px 0;
}
#tooltip {
        position:absolute;
        z-index:1000;
        max-width:250px;
        word-wrap:break-word;
        background:#000;
        text-align:left;
        padding:5px;
        min-height:1em;
        -khtml-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
}
#tooltip p {
        color:#F9F9F9;
        font-size:12px
}
#tooltip p em {
        display:block;
        margin-top:3px;
        color:#F60;
        font-style:normal;
}
